<%- include('components/header') %>

<div class="container row m-3 mx-auto">
    <img src="<%= user.avatar %>" style="width: 160px; height: 160px; object-fit: cover;" class="rounded-circle m-2">
  <div class="m-2">
    <h1 class="m-2"><%= user.name %></h1>
    <p class="subtitle is-6 m-2">@<%= user.username %></p>
    <div class="row mx-auto">
        <a class="btn btn-primary m-2" href="/profile">Back to Profile</a>
        <a class="btn btn-primary m-2" href="/upload">Upload</a>
    </div>

  </div>
</div>
  <hr>
  <h1 class="m-2">Edit Profile</h1>

  		<!-- Creating basic form that is setup to post to `/upload` on our Express server, this must match the same route that we created in Express.js, so long as they match you can name it whatever you want -->
          <form ref="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
			<!-- Creating the input field with the name "sampleFile", the "sampleFile" must match the section in your Express.js route, so long as they match you can call it whatever you want -->
			<input type="file" name="sampleFile" class="btn btn-primary"/>
			<br><br>
			<!-- Creating submit button to actually submit the form to the backend -->
			<input type="submit" value="Upload!" class="btn btn-primary"/>
		</form>






<%- include('components/footer') %>